.binding {
    max-width: max-content;
    display: inline-block;
    background-color: white;
    border: 1px solid;
}

.layer {
    display:grid;
    width:90%;
    vertical-align: middle;
}

#combos {
    height: 150px;
    width: 300px;
}