* {
    font-family: Arial, Helvetica, sans-serif;
}

.binding {
    max-width: max-content;
    display: inline-block;
    background-color: white;
    border: 1px solid;
    width: 36px;
    max-width: 36px;
    height: 36px;
    padding: 4px;
    margin: 0px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.layer {
    display:grid;
    width:0%;
    gap: 0px;
}
#keymap {
    width: 80%;
    height: 15em;
    font-family: 'Courier New', Courier, monospace;
}
#renderedKeymap {
    width: 80%;
    height: 15em;
    font-family: 'Courier New', Courier, monospace;
}
#combos {
    height: 150px;
    width: 300px;
}

.tab-list {
    list-style: none;
    display: table;
    padding: 0;
}

.tab {
    float: left;
    position: relative;
    display: block;
    content: " ";
    padding: 10px 15px 10px 15px;
    border: 1px solid;
}

.vertical-tab-list {
    float: left;
    list-style: none;
    display: table;
    padding: 0px 10px 0px 0px;
    margin: 0;
}

.vertical-tab {
    position: relative;
    display: block;
    content: " ";
    padding: 10px 15px 10px 15px;
    border: 1px solid;
}

.activeLayer {
    background-color: violet;
}

.parseError {
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}